@charset "UTF-8";
/* CSS Document */
.indexs{
	text-align: center;
}
.Hello{
	font-size: 50px;
}
.name{
	font-size: 40px;
	color: white;
}
.namebox{
	background-color: black;
	width: 550px;
	margin: 0 auto;
}
.sore{
	font-size: 30px;
}
.pink{
	background-color: hotpink;
	width: 230px;
	margin: auto;
}
.pink h2{
	color: yellow;
}
